$bgColor: #333;
$hover: #111;

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: $bgColor;
}

li {
  float: left;
  a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  a:hover:not(.active) {
    background-color: $hover;
  }
}

.active {
  background-color: #04aa6d;
}

.right {
  float: right;
}

.card {
  float: left;
}

.highlight-word {
  position: relative;
  z-index: 0;
  white-space: nowrap;
}
.highlight-word:before {
  content: "";
  background-size: 100% auto;
  width: 108%;
  height: 100%;
  display: block;
  position: absolute;
  z-index: -1;
  transform: translate(-3%, 0);
}
